<div class="main">
    <div class="container">
        <div class="d-flex">
        <app-side-nav class="w-25 pe-4"></app-side-nav>
        <div class="w-75">
            <h1 class="page-title">Музыкальные инструменты</h1>
            <div class="instruments-content">
                <div class="card card-styles" routerLink="/piano">
                    <div class="card-body">
                      <h5 class="card-title">Пианино</h5>
                      <p class="card-text">Играйте на виртуальном пианино и визуализируйте ноты.</p>
                    </div>
                    <img src="https://static.tildacdn.com/tild3939-3966-4937-b239-336532306439/johannes-plenio-RWyt.jpg" class="card-img-bottom" alt="Пианино"/>
                </div>
                <div class="card card-styles" routerLink="/drums">
                    <div class="card-body">
                      <h5 class="card-title">Барабаны</h5>
                      <p class="card-text">Играйте на виртуальных барабанах и практикуйтесь в исполнении барабанных битов.</p>
                    </div>
                    <img src="https://ekb.bonodono.ru/upload/iblock/619/ukjz0cmhf97teje5ez7zt9lnps9xgi8h.jpg" class="card-img-bottom" alt="Барабаны"/>
                </div>
                <div class="card card-styles" routerLink="/intervals">
                    <div class="card-body">
                      <h5 class="card-title">Таблица интервалов</h5>
                      <p class="card-text">Ознакомьтесь с композициями, которые помогут вам определять интервалы.</p>
                    </div>
                    <img src="https://cdn1.ozonusercontent.com/s3/club-storage/images/article_preview/295/c1200/6d03dbbf-bf34-469d-817c-9810aeab84b5.jpeg" class="card-img-bottom" alt="Таблица интервалов"/>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
