<div class="container">
    <div class="buypage-title pt-4 mb-4">
        <h3 class="title fw-normal">
            Гитары
        </h3>
    </div>
    <div class="d-flex">
        <app-side-nav-buypage></app-side-nav-buypage>
        <div class="main-content">
            <div class="product-filters">
                <div class="horizontal-product-filter">
                    <div class="horizontal-product-filter-dropdown">
                        Доступность
                    </div>
                    <i class="fas fa-angle-down ms-1"></i>
                </div>
                <div class="horizontal-product-filter">
                    <div class="horizontal-product-filter-dropdown">
                        Размер инстрмента
                    </div>
                    <i class="fas fa-angle-down ms-1"></i>
                </div>
                <div class="horizontal-product-filter">
                    <div class="horizontal-product-filter-dropdown">
                        Цена
                    </div>
                    <i class="fas fa-angle-down ms-1"></i>
                </div>
                <div class="horizontal-product-filter">
                    <div class="horizontal-product-filter-dropdown">
                        Производитель
                    </div>
                    <i class="fas fa-angle-down ms-1"></i>
                </div>
                <div class="horizontal-product-filter">
                    <div class="horizontal-product-filter-dropdown">
                        Цвет
                    </div>
                    <i class="fas fa-angle-down ms-1"></i>
                </div>
                <div class="horizontal-product-filter">
                    <div class="horizontal-product-filter-dropdown">
                        Страна-производитель
                    </div>
                    <i class="fas fa-angle-down ms-1"></i>
                </div>
                <div class="horizontal-product-filter">
                    <div class="horizontal-product-filter-dropdown">
                        Количество струн
                    </div>
                    <i class="fas fa-angle-down ms-1"></i>
                </div>
                <div class="horizontal-product-filter">
                    <div class="horizontal-product-filter-dropdown">
                        Исполнение гитары
                    </div>
                    <i class="fas fa-angle-down ms-1"></i>
                </div>
            </div>
            <div class="sort-container">
                <div class="sorting-wrap">
                    <div class="sort-dropdown">
                        <div class="sort-label">
                            Сортировать по:
                        </div>
                        <button class="sort-dropdown-btn">
                            Популярные выше
                            <i class="fas fa-angle-down ms-1"></i>
                        </button>
                    </div>
                    <div class="sort-dropdown">
                        <div class="sort-label">
                            Показать:
                        </div>
                        <button class="sort-dropdown-btn">
                            24
                            <i class="fas fa-angle-down ms-1"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cards-list">
                <div class="cards-pagination">
                    @for (itemCard of cardsList; track itemCard) {
                        <app-card [card]="itemCard"></app-card>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
