.title {
    font-style: normal;
    color: black;
    font-weight: normal;
    letter-spacing: unset;
}

.main-content {
    margin-left: 30px;
}

.product-filters {
    display: flex;
    flex-wrap: wrap;
    background: none;
    border-radius: 0;
    padding-bottom: 5px;
}

.horizontal-product-filter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 14px;
    height: 40px;
    line-height: 1;
    padding: 0 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    color: #1e1e1e;
    background: none;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px #d5d5d5;
    transition: all .2s ease-in-out;
    user-select: none;
    scroll-snap-align: start;
    scroll-margin-left: 15px;
    cursor: pointer;
}

.horizontal-product-filter:hover {
    background: #f5f5f7;
    box-shadow: inset 0 0 0 1px #bbb;
}

.sort-container {
    background: none;
    padding: 0;
    margin: 0 0 15px;
    border-radius: 0;
}

.sorting-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.sort-dropdown {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.sort-label {
    display: inline-flex;
    align-items: center;
    float: left;
    line-height: 36px;
    padding-right: 5px;
    color: #777;
    font-size: 14px;
}

.sort-dropdown-btn {
    background-color: transparent;
    border: 0;
    font-size: 14px;
    color: #2f80ed;
}

.cards-list {
    position: relative;
    min-height: calc(424.797 * 1px);
    margin-bottom: 2em;
}

.cards-pagination {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}