<div class="footer">
    <div class="footer-content">
        <a class="navbar-brand me-3 fs-3" href="#">
            <img
                src="logo.png"
                height="40"
                alt="musicca"
                loading="lazy"
            />
            Melody
        </a>
        <div class="social-buttons">
            <a class="btn text-white btn-lg btn-floating" style="background-color: #000000;" href="#!" role="button" mdbRipple>
                <i class="fab fa-instagram"></i>
            </a>
      
            <a class="btn text-white btn-lg btn-floating" style="background-color: #000000;" href="#!" role="button" mdbRipple>
                <i class="fab fa-linkedin-in"></i>
            </a>
    
            <a class="btn text-white btn-lg btn-floating" style="background-color: #000000;" href="#!" role="button" mdbRipple>
                <i class="fab fa-github"></i>
            </a>
        </div>        
    </div>
</div>
