.nav-link {
    color: #000000;
}    

.btn-styles {
    color: #fff;
    background: #72ac51;
    border: 0;
    width: 80px;
    height: 38px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -.01em;
    cursor: pointer;
}