<div class="main-page">
    <div class="container">
        <div class="content-container">
            <h1 class="main-title">Изучайте музыку бесплатно</h1>
            <p class="description">
                Melody развивает ваши способности читать, писать и играть музыку с помощью эффективных упражнений и увлекательного контента. Бесплатно и навсегда.
            </p>
            <button type="button" class="btn-started" mdbRipple routerLink="/exercises">
                Приступить
            </button>
        </div>
    </div>
</div>
