<div class="side-nav">
    <div class="side-nav-title">
        <span class="title-text">
            Категории
        </span>
    </div>
    <div class="side-nav-body">
        <ul class="subcatigories">
            <li class="subcatigories-item">
                <span class="subcatigories-item-text">
                    Гитары
                </span>
            </li>
            <li class="subcatigories-item">
                <span class="subcatigories-item-text">
                    Акустические гитары
                </span>
            </li>
            <li class="subcatigories-item">
                <span class="subcatigories-item-text">
                    Классические гитары
                </span>
            </li>
            <li class="subcatigories-item">
                <span class="subcatigories-item-text">
                    Укулеле
                </span>
            </li>
            <li class="subcatigories-item">
                <span class="subcatigories-item-text">
                    Электрогитары
                </span>
            </li>
            <li class="subcatigories-item">
                <span class="subcatigories-item-text">
                    Бас-гитары
                </span>
            </li>
            <li class="subcatigories-item">
                <span class="subcatigories-item-text">
                    Полуакустические гитары
                </span>
            </li>
        </ul>
    </div>
</div>
