<div class="navigation_left">
    <div class="navigation_pull">
        <div class="sidebar_title">
            Инструменты
        </div>
        <div class="sidebar_menu">
            <ul class="nav menu_left">
                <li class="sidebar_item">
                    <a class="sidebar_item_link" routerLink="/piano">
                        Пианино
                    </a>
                </li>
                <li class="sidebar_item">
                    <a class="sidebar_item_link" routerLink="/drums">
                        Барабаны
                    </a>
                </li>
                <li class="sidebar_item">
                    <a class="sidebar_item_link" routerLink="/drums">
                        Таблица интервалов
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

